@media (min-width:768px) {
  body {
      background: #000000;
<!--       background: #000000 url('../images/IDmeWatermark.png') no-repeat; -->
  }
}

.login-welcome {
  color: #f78e1e;
}

.btn-info {
  font-size: 18px;
  text-transform: uppercase;
}

.login-welcome {
  color: #f78e1e;
  text-transform: uppercase;
}

.compliance-only {
   text-indent: -9999px;
}