

/**********************************************************
   Login Page (mobile and desktop)
**********************************************************/	

/* Header section around and line under logo on login page */
.header
{ 
  /*  background-color: #00137f;  */
  border-bottom-color: #fa5400 !important;}

.login-welcome 
     { color: #fa5400 } 
.btn-info  /* also controls some other buttons in UI */
     { background-color: #fa5400 !important;
       border: #00137f;        }
.btn-info:hover, .btn-info:focus, .btn-info:active 
     { background-color: #0013af !important; }
/* .btn-info.active, .open .dropdown-toggle.btn-info */

.btn-primary {color: #ffffff;color: #ffffff !important;background-color: #fa5400;border-color: #011e69;}
.form-control:focus {
    border-color: #00137f;}

a, a:link, a:visited, a:active { color: #00137f  }
a:hover, a:focus {color:#ffffff}

/**********************************************************
 Mobile and Desktop Angular Pages 
**********************************************************/

/* Mobile Main Menu and Desktop Home */

.mobile-quick-links .card-title {color: #00137f} 
.quick-links-btn {border-color: #000000 !important; color: #00137f !important} 
.quick-links-btn:hover, .quick-links-btn:focus, .quick-links-btn:active 
     { background-color: #000000 !important; color: white !important; }

/* Access Request Progress Bar */
.progress-active { background-color: #0013af; color: white; border-color: #00137f}
.progress-active:hover, .progress-active:focus, .progress-active:active
{ background-color: #00137f; color: white; border-color: #00137f; } 
.btn-progress:hover, .btn-progress:focus, .btn-progress:active
{ background-color: #00137f; color: white;  border-color: #00137f;}
/* Badge on Review tab of Manage User Access page (mobile and desktop) */
.badge.bg-info {background-color: #00137f !important;}
.btn-progress:hover .badge.bg-info, .btn-progress:focus .badge.bg-info 
   {background-color: white !important; color: #00137f }


/* page navigation within access request pages */
.pagination a { color:#00137f !important}
.pagination .active a {background-color: #00137f !important; color:white !important; border-color: #00137f !important}


/* Sub-menu on Manage Access page (add access/remove access */
.btn-group.sub-nav .btn.active { color: #00137f !important}
.btn-group.sub-nav .btn:focus { color: #00137f !important}


/* Loading Data message */
.alert-info { 
     color: #00137f;  
}

/* filter dropdowns in access request page */
.access .dropdown-menu > li > a:hover,
.access .dropdown-menu > li > a:focus,
.access .dropdown-menu > .active > a,
.access .dropdown-menu > .active > a:hover,
.access .dropdown-menu > .active > a:focus {
  background-color: #00137f;
}

/* Mobile Access Request Submit bar */
.navbar-fixed-bottom {background-color: #00137f !important}

/* Modal boxes are a different color in the default scheme but can still be changed if desired */
.modal-header, .btn-warning {
background-color: #00137f !important; 
color: white !important;
border-color: #00137f !important;
}
/*********************************************************
    7.1 colour Scheme Changes
**********************************************************/
.list-group-item.active a, .list-group-item.active:hover a, .list-group-item.active:focus a , .list-group-item.active {
    border-color: #d8dde5 !important;
    background-color: #d8dde5 !important;
    color: #000000;
}
/*Pop up windows changes */
.modal-header, .btn-warning {background-color: #000000 !important; color: #fa5400 !important;border-color: #00137f !important;}
.close, .close:active, .close:hover {float: right;font-size: 21px;font-weight: bold;line-height: 1;color: #ffffff;text-shadow: 0 1px 0 #ffffff;opacity: 1.0;filter: alpha(opacity=20);}
/*Certification window Changes*/
.certification .nav-tabs > li.active > button {color: #000000;background-color: #edeff3;border-bottom-color: transparent;}
.certification .nav-tabs > li.active .label {background-color: #000000;}
.certification .nav-tabs > li > button:hover, .certification .nav-tabs > li > button:active, .certification .nav-tabs > li > button:focus {background-color: #edeff3;color: #00137f;}
.certification .entity-list-panel .cert-id-list .active, .certification .entity-list-panel .cert-id-list tr:hover, .certification .entity-list-panel .cert-id-list tr:focus {border-color: #000000;background-color: #000000;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {background-color: #edeff3;}
.sp-dropdown-group > ul > li > a:hover, .sp-dropdown-group > ul > li > a:focus {background-color: #00137f;}

/*Quick Link Cards*/
.home-widget .list-group a.list-group-item:hover, .home-widget .list-group a.list-group-item:focus {text-decoration: none; background-color: #d8dde5 !important; color: white;}

/*DropDown Menu*/
.dropdown-menu > li > a:hover, .dropdown-menu > li.active > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > li.active > a:focus {background-color: #00137f; color: white;}

/**********************************************************
 Desktop Only Angular Pages 
**********************************************************/

/* Main Menu header bar in Desktop body pages (not login) plus some badges in UI */
.bg-primary
     { background-color: #000000  } 

/* Desktop Main Menu Bar */
.bg-primary .nav .open > a {background-color: #000000}
.dropdown-menu .menuitem:hover {background-color:#fa5400 !important}
/* SAT custom */
.bg-primary .nav li > a { color: #fa5400}
.bg-primary .nav li > ul.dropdown-menu > li > a {color: #000000}
.bg-primary .nav li > a:focus, .bg-primary .nav li > a:hover {background-color: #945512 !important; color:#ffffff !important}
.bg-primary.lt,.bg-primary .lt, #quicklinkButton:not(.collapsed) {background-color: #000000;}
#quicklinkPanel .panel-group .panel .panel-heading,#quicklinkPanel .panel-group .panel .panel-body {background-color: #000000;}
.navbar-nav a:hover, .navbar-nav a:focus { background-color: #fa5400  !important }
/* SAT custom */

/* Desktop Home Page */
/* SAT custom */
.card-title, .card-arrow-icon {color: #000000}
/* .quicklink-card-link {background-color: #000000} */

.quicklink-card-link a:hover .panel,
.home-edit-card-link a:hover .panel,
.quicklink-card-link a:focus .panel,
.home-edit-card-link a:focus .panel {
  border-color: #945512;
  background: #945512;
  color: white !important;
}

/* Drop-down menu on violation work items widget header */
.text-info {color: #00137f }
.btn-link:hover,
.btn-link:focus {
  color: #00137f !important;
  text-decoration: underline;
  background-color: transparent !important;
}

/* Edit Home page */
.home-edit-card .panel-heading {color:#00137f}
.home-edit-card-link a .card-title {color:#00137f}


 .menuitem, .dropdown-toggle, .dropdown-menu, .dropdown-header,.quicklink-card-link {
	
  font-size: 16px;
  #text-transform: uppercase;
}

.text-ellipsis{
	font-size:14px;
	#font-weight: bold;
	#text-transform: uppercase;

}
