<!DOCTYPE html PUBLIC
                "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- (c) Copyright 2008 SailPoint Technologies, Inc., All Rights Reserved. -->

<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:t="http://myfaces.apache.org/tomahawk"
  xmlns:sp="http://sailpoint.com/ui">

<body>

<ui:composition template="/appPage.xhtml">

  <ui:define name="headerItems">
    <script type="text/javascript" defer="defer">
      <!--//--><![CDATA[//><!--
        helpKey = 'IMPORT';
		
		function calledOnLoad(){
			  var loggedInUser='#{base.loggedInUser.id}';
			  SailPoint.Quicklinks.chooseQuickLink('Nike - Creat Account',loggedInUser);
            }
		window.onload= calledOnLoad; 
      //--><!]]>
    </script>
  </ui:define>

  <ui:define name="body">
  
  </ui:define>
</ui:composition>

</body>
</html>
<!--  http://localhost:8080/identityiq/lcm/createAccount.jsf -->