<!DOCTYPE html PUBLIC
                "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- (c) Copyright 2008 SailPoint Technologies, Inc., All Rights Reserved. -->

<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:t="http://myfaces.apache.org/tomahawk"
  xmlns:sp="http://sailpoint.com/ui">

<body>

<ui:composition template="/appPage.xhtml">

  <ui:define name="headerItems">
    <script type="text/javascript" defer="defer">
      <!--//--><![CDATA[//><!--
        helpKey = 'IMPORT';
		
		function calledOnLoad(){		      
			  var refPath = document.referrer;		      			  
			     if(refPath.indexOf('terminateAccount') == -1)
					SailPoint.Quicklinks.chooseQuickLink('Nike - Terminate Account');
			     else
				 {
				   window.stop;
				   document.getElementById("errMessage").innerHTML = "You have no direct reports in IIQ to manage";	
				 }								  
			  
            }
				
		window.onload= calledOnLoad;
		

		
      //--><!]]>
    </script>
  </ui:define>

  <ui:define name="body">
  
		<label id="errMessage" style="font-size:40px ; font-family: 'Times New Roman' ;  font-style : italic" >
		
			
		
		
		
		</label>
		
		
		
  </ui:define>
</ui:composition>

</body>
</html>
<!--  http://localhost:8080/identityiq/lcm/terminateAccount.jsf -->