/* IIQ Custom
This is used for any custom styles or style overrides used to rebrand IIQ
user pages. */


/****************************************************************
   Main Pages Background - not likely to set now that background
   is neutral colored
**************************************************************** /

body, body.x-border-layout-ct,  .borderCell 
     { background: #000000; }

/****************************************************************
    Page Titles,Subtitles; links in core pages 
****************************************************************/
#bodyDivTitle h1, .bodyDivTitle h1 
     { color: #000000 !important}

/* headers within pages 
   (e.g. Application Definition: Account Correlation, Activity Data Source, etc.)*/	 
.spContentTitle, .sectionHeader, .subSectionHeader 
     { color: #000000;}

/* Object Type headers */
.x-panel-header-text  
     { color: #000000 !important; }
	
/* Tables with blue banner header like in Access Requests details */
/*     This shows example of overriding with a gradient background image 
       like used in core product but with a different color scheme.  
	   Could specify a solid color with just the first two tags here. */
.spBlueTable th {  
     background-image: none;
     background-color: #00137f;
     background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0013af), color-stop(100%, #00137f));
     background-image: -webkit-linear-gradient(top, #0013af, #00137f);
     background-image: -moz-linear-gradient(top, #0013af, #00137f);
     background-image: -o-linear-gradient(top, #0013af, #00137f);
     background-image: linear-gradient(top, #0013af, #00137f);
} 

/* Text in some Dashboard Widgets */
.progressText {color:#00137f;}
	
/********************************************************************
  Links and text which look and behave similarly to links 
   (such as identity names in application Accounts list and
    page index in Reports configuration UI) 
********************************************************************/
a, a:link, a:visited, a:active { color: #00137f; }
a:hover, a:focus {color:#0013af}
.fakeLink, .unboldFakeLink, .fakeLink .x-grid-cell-inner 
     { color: #00137f; }

/* Cert Wizard step names */
.wizardStep:hover 
      { color: #00137f !important; }
	
/*******************************************************************
    Menus and sub-menus 
*******************************************************************/ 
.menu #menuItems li.menuitemselected a 
      { color: red !important; }

.menu #menuItems li a:hover 
      { color: green !important; }

/* New Certification, New Policy, etc. menus */
.main-submenu .x-menu-item-active a 
      { background-color: #00137f !important; }

/*Define Applications submenus */
div.appPageExtTabs .x-tab-active   
      { background-color: #00137f !important; }

/* Menu tabs within Task, Cert, etc. pages */
.x-tab-active button
      { color: #00137f !important; 
        border-color: #00137f !important;}



/*********************************
    Buttons
*********************************/
/* Primary Buttons (most colored buttons with white text) */
/* use !important to override border, background-color, background-image */
div.primaryBtn, input.primaryBtn , .primaryBtn 
      { background-image: none !important;
	 background-color: #00137f !important;
	 border-color: #00137f !important;
}
div.primaryBtn:hover, input.primaryBtn:hover, .primaryBtn:hover, 
div.primaryBtn:focus, input.primaryBtn:focus, .primaryBtn:focus
      { background-image: none !important;
     background-color: #0013af !important;
	 border-color: #00137f !important;}

.primaryBtn .x-btn-center .x-btn-inner 
      { color: #ffffff !important; }



/* Secondary Buttons (gray/white with colored text) */
div.secondaryBtn, input.secondaryBtn, button.secondaryBtn 
      { color: #00137f; }
div.secondaryBtn:hover, input.secondaryBtn:hover, button.secondaryBtn:hover 
      { color: #00137f; }
.x-btn-default-small
      { color: #00137f;} 


/* default toolbar buttons, e.g. Advanced Search buttons */
.x-btn-default-toolbar-small-noicon, .x-btn-default-toolbar-medium-noicon, 
.x-btn-default-toolbar-small-noicon .x-btn-center .x-btn-inner,
.x-btn-default-toolbar-medium-noicon .x-btn-center .x-btn-inner 
     { color: #00137f; }

/* default toolbar button style hover override */
.x-btn-default-toolbar-small-noicon.x-btn-default-toolbar-small-over,
.x-btn-default-toolbar-medium-noicon.x-btn-default-toolbar-medium-over 
     { color: #0013af; }

/* Colored auxiliary buttons in some UI pages 
   Should come after Gray/white auxiliary buttons above 
   to fix color on Cert/Task/Policy drop-down menu buttons */
.x-btn-default-small-noicon  
     { background-image: none;
       background-color: #00137f !important;
       border-color: #00137f }
.x-btn-default-small-noicon .x-btn-center .x-btn-inner 
     { color: #ffffff !important; }
	

/* Enforce colored text on gray/white buttons
  Must come after setting text color for colored auxiliary buttons */ 

.secondaryBtn .x-btn-center .x-btn-inner 
     { color: #00137f !important; }

/* .x-btn-default-small-noicon.x-btn-default-small {color: #ffffff !important} */
.x-btn-disabled .x-btn-center .x-btn-inner {color:#aaaaaa !important}

/*Global Settings menu page hover over/click options */
a.list-group-item:focus, a.list-group-item:hover {color:#0013af} 
