<!DOCTYPE html PUBLIC
 "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- (c) Copyright 2008 SailPoint Technologies, Inc., All Rights Reserved. -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:a4j="http://richfaces.org/a4j" xmlns:sp="http://sailpoint.com/ui">
<body>
	<ui:composition>
		<script type="text/javascript">
		<!--//--><![CDATA[//><!--
			helpKey = 'APPLICATION';
			function getFieldValue(field) {
				var val = null;
				var fileName = $(field);
				if (fileName) {
					val = fileName.value;
				}
				return val;
			}
			Ext.onReady(function() {
				Ext.QuickTips.init();
				// This is our validation hook
				Page.on('beforeSave', function() {
					
					var codebase = getFieldValue('editForm:codebase');
					Validator.validateNonBlankString(codebase,
							"Code Base cannot be null!");
					
					var username = getFieldValue('editForm:username');
					Validator.validateNonBlankString(username,
							"Admin User cannot be null!");
					
					var password = getFieldValue('editForm:password');
					Validator.validateNonBlankString(password,
							"Admin Password cannot be null!");
					
					var site = getFieldValue('editForm:site');
					Validator.validateNonBlankString(site,
							"Site Name cannot be null!");

					var errors = Validator.getErrors();
					if (errors && errors.length > 0) {
						var errorDivTop = $('formErrorsTop');
						var errorDivBottom = $('formErrorsBottom');
						Validator.displayErrors(errorDivBottom);
						Validator.displayErrors(errorDivTop);
						return false;
					}
					//return false will kill cancel the save
					return true;
				});
			});
			//--><!]]>
		</script>
		<f:view>
			<h:outputText styleClass="sectionHeader"
				value="Murex Connector Settings" />
			<br />
			<br />
			<div id='formErrorsTop' class="formError" style="display: none" />
			<div id="accountSettings" class='spContent'>
				<table class="spTable" style="border: 0px" cellspacing="0">
					<tr>
						<td class='titleColumn certScheduleTitleCol' valign="center">
							<h:outputText style='padding:5px' value="Admin User" />
						</td>
						<td class="certScheduleHelpCol" valign="middle"><h:graphicImage
								id="imgHlpUsername" styleClass="helpIcon"
								url="/images/icons/dashboard_help_16.png"
								alt="Admin User Name (must belong to MX USER ADMINISTRATOR group)" />
						</td>
						<td valign="center"><h:inputText id="username"
								value="#{applicationObject.attributes['username']}" size="20"
								disabled="#{!sp:hasRight(facesContext, 'ManageApplication')}"
								readonly="#{!sp:hasRight(facesContext, 'ManageApplication')}" />
						</td>
					</tr>
					<tr>
						<td class='titleColumn certScheduleTitleCol' valign="center">
							<h:outputText style='padding:5px' value="Admin Password" />
						</td>
						<td class="certScheduleHelpCol" valign="middle"><h:graphicImage
								id="imgHlpPassword" styleClass="helpIcon"
								url="/images/icons/dashboard_help_16.png" alt="Admin Password" />

						</td>
						<td valign="center"><sp:inputSecret id="password"
								value="#{applicationObject.attributes['password']}"
								redisplay="true" size="80"
								disabled="#{!sp:hasRight(facesContext, 'ManageApplication')}"
								readonly="#{!sp:hasRight(facesContext, 'ManageApplication')}" />
						</td>
					</tr>
					<tr>
						<td class='titleColumn certScheduleTitleCol'><h:outputText
								style='padding:5px' value="Password Encrypted" /></td>
						<td class="certScheduleHelpCol"><h:graphicImage
								id="imgHlpIsEncrypted" styleClass="helpIcon"
								url="/images/icons/dashboard_help_16.png"
								alt="Select if the password provided is encrypted." /></td>
						<td valign="center"><h:selectBooleanCheckbox
								value="#{applicationObject.attributes['isEncrypted']}"
								disabled="#{!sp:hasRight(facesContext, 'ManageApplication')}" />
						</td>
					</tr>
					<tr>
						<td class='titleColumn certScheduleTitleCol' valign="center">
							<h:outputText style='padding:5px' value="Code Base URL" />
						</td>
						<td class="certScheduleHelpCol" valign="middle"><h:graphicImage
								id="imgHlpCodebase" styleClass="helpIcon"
								url="/images/icons/dashboard_help_16.png"
								alt="Murex Application Codebase, e.g. 'http://localhost:10000'" />
						</td>
						<td valign="center"><h:inputText id="codebase"
								value="#{applicationObject.attributes['codebase']}" size="80"
								disabled="#{!sp:hasRight(facesContext, 'ManageApplication')}"
								readonly="#{!sp:hasRight(facesContext, 'ManageApplication')}" />
						</td>
					</tr>
					<tr>
						<td class='titleColumn certScheduleTitleCol' valign="center">
							<h:outputText style='padding:5px' value="Site Name" />
						</td>
						<td class="certScheduleHelpCol" valign="middle"><h:graphicImage
								id="imgHlpSite" styleClass="helpIcon"
								url="/images/icons/dashboard_help_16.png"
								alt="Murex Site Name, which is defined in the file fs/public/mxres/sites/sites.mxres" /></td>
						<td valign="center"><h:inputText id="site"
								value="#{applicationObject.attributes['site']}" size="80"
								disabled="#{!sp:hasRight(facesContext, 'ManageApplication')}"
								readonly="#{!sp:hasRight(facesContext, 'ManageApplication')}" />
						</td>
					</tr>
				</table>
			</div>
			<div id='formErrorsBottom' class="formError" style="display: none" />
		</f:view>
	</ui:composition>
</body>
</html>
